@font-face {
    font-family: CorporativeFont;
    src: url('../fonts/HighlandGothicFLF.ttf');
}

@font-face {
    font-family: CorporativeStylishFont;
    src: url('../fonts/Bowhouse-Regular.otf');
}

img[ng-src='']{
    content:url("../img/noimg.png");
}

.top-border{
    height:10px;
    background-color: #74717b;
}

.mgi{

    border-radius: 5px;
    border:1px solid #B8C0CC;
    width:100%;

}

ul{
    list-style: none;
    display: inline;
}

li{
    margin: 5px;
}
.head{
    background-color: rgba(140,140,140,1);
    font-family: CorporativeFont;
    border-corner-shape:bevel;
    /border-bottom-left-radius: 20px;
}

h3 {
    color: #576374;
}

.head h1{
    color:#a1d9f2;
}

.head img{
   right:-15px;
    opacity: 0.9;
}

.foot{
    background-color: #2B2B2B;
    font-family: CorporativeFont;
    color:lightgray;
}

.mview{

    padding: 5px;
}

.mview-content{
   / border-top-left-radius: 20px;
    border:1px solid #BDBDE8;
    background-color: rgba(225,225,225,1);
}

.gview{
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: rgba(240,240,255,1);
    font-family: Century Gothic;
  /  border-top-left-radius: 20px;
}

hr{
    width:75%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

.view-element{
   / margin-left:auto;
   / margin-right:auto;
   text-align: center;
}

.navigation{
    width:70%;
}

.add{
    border:1px solid #B4B4B4;
    border-radius: 10px;
    /*background: -webkit-linear-gradient(#F0F0F0, #D9DBE9);*/
    /*background: -o-linear-gradient(#F0F0F0, #D9DBE9);*/
    /*background: -moz-linear-gradient(#F0F0F0, #D9DBE9);*/
    /*background: linear-gradient(#F0F0F0, #D9DBE9);*/
    background-color: #F7F7F7;
    padding: 5px;
    margin: 5px;
}

.c{
    vertical-align:middle;
   / border:1px solid red;
    text-align: right;
}

.current-selection, .current-selection-cat, .current-selection-tow, .decor{

    background-color: hsl(240, 6%, 22%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#484852), to(#36363d));
    background-image: -moz-linear-gradient(top, #484852, #36363d);
    background-image: -ms-linear-gradient(top, #484852, #36363d);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484852), color-stop(100%, #36363d));
    background-image: -webkit-linear-gradient(top, #484852, #36363d);
    background-image: -o-linear-gradient(top, #484852, #36363d);
    background-image: linear-gradient(#484852, #36363d);
   / border-color: #5e1111 #5e1111 hsl(240, 6%, 30%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
    border:1px solid darkgray;
    border-radius: 5px;
    height:30px;

}


.filters{
    border:0px;
    color: #6f697e;

}


.article-title{
    text-align: center;
    background-color: #d8d8d8;
    padding: 5px;
}

.textInfo{
    text-indent: 20px;
    overflow: auto;
    text-align: justify;

}

.line{
    /dispaly:block;
    float:left;
    width:100%;
    height:1px;
    background-color: lightgray;
    margin-bottom: 10px;
}

form label{
    color: #5e5ea7;
    padding: 5px;
    margin:5px;
}

form button{
    width:100px;
    margin:10px;
    padding: 2px;
}

.bordered{
/ border:1px solid red;
    padding: 2px;
    margin:2px;
    text-align: center;


}


.bordered img{,
    width: 120px;
    height:120px;

    margin-top:10px;
   / background-size: cover;

}
.bordered input{
    width:100%;
    margin-top:10px;
}
.bordered textarea{
     width:100%;
     margin-top:10px;
 }


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}