
<section>
    <div class="row user-name-head">
        <div class="col-md-10" user-kit></div><div class="col-md-2 pull-right">Current page info</div>
    </div>
    <div class="row gview">
        <div class="col-md-3 mview">
            <div class="mview-content">
                <div class="view-element"><h3>Navigation</h3></div>
                <hr/>
                <div class="view-element">
                    <ul>
                        <li><button class="navigation" ng-click="goTo('/user/home')"  >Home</button></li>
                        <li><button class="navigation current-selection" ng-click="goTo('/user/myAds')">My Ads</button></li>
                        <li><button class="navigation" ng-click="goTo('/user/addAd')">Publish new add</button></li>
                        <li><button class="navigation" ng-click="goTo('/user/Profile')">Edit profile</button></li>
                    </ul>
                </div>

                <h3 class="article-title">My Ads Filter</h3>
                <hr/>
                <div class="view-element">
                    <ul>
                        <li>
                            <button class="navigation filters current-selection-ad-filt" ng-click="putStatus($event,'')" >All</button>
                        </li>
                        <li>
                            <button class="navigation filters" ng-click="putStatus($event,'Published')" >Published</button>
                        </li>
                        <li>
                            <button class="navigation filters" ng-click="putStatus($event,'WaitingApproval')" >Waitng Aprooval</button>
                        </li>
                        <li>
                            <button class="navigation filters" ng-click="putStatus($event,'Inactive')" >Inaktive</button>
                        </li>
                        <li>
                            <button class="navigation filters" ng-click="putStatus($event,'Rejected')" >Rejected</button>
                        </li>
                    </ul>
                 </div>

                <hr/>
                <div class="view-element"><h5>To publish a new ad, please login.
                </h5></div>
            </div>
        </div>
        <div class="col-md-8 mview ">
            <div class="mview-content">
                <h3 class="article-title">My Ads</h3>

                    <ul >
                        <li ng-repeat="ad in allMyAds.ads | filter:{status:status}" class="">
                            <div class="col-md-9">
                            <div class="add">
                                <div class="row">
                                    <h4 class="col-md-8 m-name"><strong> {{ad.title}}</strong></h4>
                                    <span class="col-md-3 pull-right m-date">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                                </div>
                                <div class="line"></div>
                                <div class="row">
                                    <div class="col-md-4"><img  class="mgi" ng-src="{{ad.imageDataUrl}}"></div>
                                    <div class="col-md-8">
                                        <h5 class="textInfo">{{ad.text}}</h5>
                                        <h5><strong>Town: &nbsp;</strong>{{ad.townName}}</h5>
                                        <h5><strong>Category:&nbsp;&nbsp; </strong>{{ad.categoryName}}</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class="col-md-3 article-title status">
                                <h4>Status</h4>
                                <div class="line"></div>
                                <p>{{ad.status}}</p>
                                <button value="{{ad.id}}" ng-click="deactivate($event,ad.id)" >Deactivate</button>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>
    <!--    <div>
            <p>{{allMyAds}}</p>
        </div> --!>